# Python - Ignore compiled files and environments
__pycache__/
*.py[cod]
.venv/
env/

# Virtualization - Ignore big VM disks and local configs
*.iso
*.ova
*.ovf
*.vmdk
*.vbox
*.vbox-prev
.vagrant/

# Secrets & Local Configs - Never upload these!
.env
*.log
local_settings.py
secrets.json
